 <style>
 
  .welcome-heading {
    background: linear-gradient(to right, red, blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-weight: 700;
    margin-left: 34%;
    margin-top: 5%;
    

  }
  </style>
   <nav class="navbar navbar-inverse navbar-custom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" >ADMIN</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
         <li class="active"><a href="/sp/list">Home</a></li>
        <li><a href="/sp">Product</a></li>
        <li><a href="/us/list">Acount</a></li>
        </ul>
      
         <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a onclick="loginSuccess()" href="/"><span class="glyphicon
              glyphicon-log-in"></span> Login</a></li>
      </ul>
      </div>
    </div>
  </nav>


  <h1 class="welcome-heading">
    WELLCOM ADMIN
  </h1>

  
  <a href="/sp/" class="btn btn-primary"> Add sp</a>
  <h3>
    DANH SACH SP
  </h3>

  <table class="table table-bordered">
    <tr>
      <th>Masp</th>
      <th>NAME</th>
      <th>Gia</th>
      <th>Mau sac</th>
      <th>Loai</th>
      <th>Makh</th>
      <th>Tenkh</th>
      <th>ACTION</th>
    </tr>

    {{#each sp}}
    <tr>
      <td>{{this.Masp}} </td>
      <td>{{this.Name}} </td>
      <td>{{this.Gia}} </td>
      <td>{{this.Mausac}}</td>
      <td>{{this.Loai}}</td>
      <td>{{this.Makh}}</td>
      <td>{{this.Tenkh}}</td>
      <td> <a href="/sp/editsp/{{this._id}}" class="btn btn-primary btn-sm">
          edit</a>
        <a href="/sp/deletesp/{{this._id}}" onclick="return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không?')"
           class="btn btn-danger btn-sm"> delete</a>
      </td>
    </tr>
    {{/each}}

  </table>